<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style.css" />
    <title>About</title>
</head>
<a href="/index" class="previous round">&#8249;</a>
<body>
    <p>
        Trust Signature is a secure desktop-based payment system designed to build confidence in online transactions.
        Inspired by real user feedback, it introduces a personalized digital signature that verifies each payment using
        encryption and real-time authentication.
        By combining transparency, familiarity, and security, Trust Signature ensures that every transaction feels safe,
        personal, and trustworthy.
    </p>
</body>
</html>