<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us</title>

    <link rel="stylesheet" href="../static/style.css"/>

</head>
<body>
    
    <nav id="nav-bar">
        <div class="logo"><a href ="/home">Trust Signature</a></div>
        <div>
            
            <ul class="links">    
                <li><a href="/about">About</a></li>
                <li><a href="/contact">Contact Us</a></li>
                <li><a href="/logout">Log Out</a></li>
            </ul>
        </div>
    </nav>
    <a href="/home" class="back-btn">&#8249; Back</a>


    <section class="contact-page">
        <div class="contact-card">
            <h1>Contact Us</h1>

            <p>
                As a team, we are committed to ensuring the security and peace of mind of our users.
                If you have any questions or need assistance, please contact us by phone or send us an email.
            </p>

            <h3>Email</h3>
            <p class="contact-detail">trustsignaturesupport@gmail.com</p>

            <h3>Phone</h3>
            <p class="contact-detail">(123)456-7890</p>
        </div>
    </section>

</body>
</html>
