<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/style.css"/>
</head>
<body>
    <nav id="nav-bar">
        <a href="/about" class="previous round">&#8249;</a>
        <div class="logo">Trust Signature</div>
        <div>
            
            <ul class="links">    
                <li><a href="/about">About</a></li>
                <li><a href="/contact">Contact Us</a></li>
                <li><a href="/logout">Log Out</a></li>
            </ul>
        </div>
    </nav>
    
    <section class="form-card">
        <div class="signin-section">
            <h1>Add Bank Account</h1>
            <form method="post" action="/connect" class="stack">
                <label>
                    <span>Bank Name</span>
                    <input name="bank_name" type="text" required/>
                </label>
                <label>
                    <span>Routing Number</span>
                    <input name="routing" type="text" required/>
                </label>
                <label>
                    <span>Account Number</span>
                    <input name="account" type="text" required/>
                </label>
                <button class="signin btn" type="submit">Add</button>
            </form>
        </div>
    </section>
    <section class="table-card">
        <h1> Bank - Acc. Num. - Route. Num</h1>
        <table class="table-div">
            <tbody class="bank-table">
                {% for bank_account in bank_accounts %}
                    <tr>
                        <td class="bank-name">{{ bank_account.bank_name }}</td>
                        <td class="num">{{ bank_account.routing_number }}</td>
                        <td class="num">{{ bank_account.account_number }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </section>
    
    <section id = "centered">
        <div>
            <a class="signin btn" href="/profile">Manage Profile</a>
        </div>
    </section>
</body>
</html>