<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/style.css"/>
</head>
<body>
    <nav id="nav-bar">
        <div class="logo">Trust Signature</div>
        <div>
            <ul class="links">
                <li><a href="#about">About</a></li>
                <li><a href="#contact">Contact Us</a></li>
            </ul>
        </div>
    </nav>
    <section id="welcome">
        <div class="welcome-section">
            <h1>Welcome to Trust Signature</h1>
            <p>Click below to sign into your account</p>
            <a class="signin btn" href="/signin">Sign In</a>
            <p>Don't have an account?</p>
            <a class="creaccount btn" href="/signup">Create Account</a>
        </div>
    </section>
</body>
</html>