<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/style.css"/>
</head>
<body>
    <nav id="nav-bar">
        <div class="logo"><a href ="/home">Trust Signature</a></div>
        <div>
            
            <ul class="links">    
                <li><a href="/about">About</a></li>
                <li><a href="/contact">Contact Us</a></li>
                <li><a href="/logout">Log Out</a></li>
            </ul>
        </div>
    </nav>
    <a href="/home" class="back-btn">&#8249; Back</a>
    
    <div class = "home-layout">
    <section class="page">
        <h1 class="h1">Profile</h1>
        <form method = "post" action = "/profile" class ="stack" style= "max-width:425px">
            <label>
                <span><strong> Full Name</strong></span>
                <input name = "username" type = "text" value = "{{user.full_name or '' }}">
            </label>
            <label>
                <span><strong>Email</strong></span>
                <input name = "email" type ="email" value ="{{user.email or '' }}">
            </label>
            <label>
                <span><strong>Phone Number</strong></span>
                <p>Enter all 10 digits</p>
                <input name = "phone" type = "text" pattern="\d{10}" maxlength="10" minlength="10" inputmode="numeric" placeholder="1234567890" value = "{{user.phone or '' }}">
            </label>
            <button class = "signin btn" type = "submit">Save</button>
        </form>

        <div class = "toolbar">
            <a class = "btn signin" href="/signature">Manage Trust Signature</a>
        </div>
    </section>
    <div class = "home-account-buttons">
    <section class="table-card">
        <h1 class="title">Profile Information</h1>
        <table class="bank-table" style = "max-width: 900px;">
            <thead>
                <tr>
                    <th>Full Name</th>
                    <th class ="num">Email</th>
                    <th class = "num">Phone Number</th>
                </tr>
            </thead>
            <tbody class="bank-table">
                
                    <tr>
                        <td class = "bank-name">{{user.full_name or ''}}</td>
                        <td class = "bank-name">{{user.email or ''}}</td>
                        <td class = "bank-name">{{user.phone or '' }}</td>
                    </tr>
                    
                
            </tbody>
        </table>
    </section>
    </div>
    
    </div>
</body>
</html>