<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/style.css"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
    <nav id="nav-bar">
        <a href="/home" class="previous round">&#8249;</a>
        <div class="logo">Trust Signature</div>
        <div>
            
            <ul class="links">    
                <li><a href="/about">About</a></li>
                <li><a href="/contact">Contact Us</a></li>
                <li><a href="/logout">Log Out</a></li>
            </ul>
        </div>
    </nav>
    
    <section class="page">
        <h1 class="h1">New Signature</h1>
        <form id = "signature-form" class ="stack" method="post" action = "/signature/save" enctype="multipart/form-data", style = "max-width: 500px;">
            <div class = "signature-box">
                <p>Upload image (PNG or JPEG)</p>
                
                <div class = "upload-row">
                <input type="file" id="file" name="file" accept="image/*">
                <button type="button" id="sig-btn" class="btn" style="display:none;">
                    Remove
                </button>
                </div>

                <div class="progress" id="myProgressBar">
                   <div class="progress-fill"></div>
                   <div class="progress-text" data-stages="0:Initial Setup,25:Loading Asset,75:Uploading File,100:Done!"></div>
                </div>

                <div class="stat" id="status"></div>
            </div>
            <label>
                <span> Label your signature</span>
                <input type = "text" name = "label" placeholder = "Business, personal Etc."> 
            </label>

            <div class = "toolbar">
                <button type = "submit" class = "signin btn">Continue</button>
            </div>
        </form>

        {% if signatures %}
        <div class = "signature-row">
            {% for s in signatures %}
            <div class = "signature-stacked">
                <img class  = "signature-pic" src = "data:image/png;base64,{{ s.image_base64}}" alt="signature">
                <p>{{ s.label or s.id}}</p>
                    <form method="post" action="/signature" class="delete-form">
                       <input type="hidden" name="signature_id" value="{{ s.id }}">
                    </form>
            </div>
            
            
            {% endfor %}
        </div>
        {% else %}
            <p> No saved signatures</p>
        {% endif %}



    </section>
    <script src="../static/script.js"></script>

</body>
</html>
