<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/style.css"/>
</head>
<body>
    <nav id="nav-bar">
        <div class="logo"><a href ="/home">Trust Signature</a></div>
        <div>
            
            <ul class="links">    
                <li><a href="/about">About</a></li>
                <li><a href="/contact">Contact Us</a></li>
                <li><a href="/logout">Log Out</a></li>
            </ul>
        </div>
    </nav>
    <a href="/home" class="back-btn">&#8249; Back</a>
    
    <section class="transfer-card">
        <div class="signin-section">
            <h1>Initiate a Transfer</h1>
            <form method = "post", action = "/transfer" class = "transfer-grid">
            <div class = "transfer-col">
                <label>
                    <span>Recipient</span>
                    <input name ="recipient" type="text" required>
                </label>
                <label>
                    <span>Signature</span>
                    {% if signatures|length == 0 %}
                        <div class="empty-warning">
                            <p>You dont have any signatures yet! Go create one</p>
                            <a class = "create-signature" href = "/signature">Create a Trust Signature</a>  
                        </div>
                    {%else %}
                        <div class = "selection-group" role = "radiogroup">
                            {% for signature in signatures %}
                                <label class = "selection-option">
                                    <input type = "radio" name = "signature_id" value = {{signature.id}} required>
                                    <span>{{signature.label }}</span>
                                </label>
                            {% endfor %}
                        </div>  
                    {% endif %}
                    
                
                </label>
                <label>
                    <span>Account</span>
                    {% if bank_accounts|length == 0%}
                        <div class="empty-warning">
                            <p>You dont have any Accounts Linked yet! Go Link one</p>
                            <a class = "create-signature" href = "/home">Link a Bank Account</a>  
                        </div>
                    {%else %}
                        <div class = "selection-group" role = "radiogroup">
                            {% for bank_account in bank_accounts %}
                                <label class = "selection-option">
                                    <input type="radio" name = "account_id" value = {{bank_account.id}} required>
                                    <span>{{bank_account.bank_name}} - {{bank_account.account_number}}</span>
                                </label>
                            {% endfor %}
                        
                        </div>
                    {%endif %}
                </label>
            </div>
            <div class = "transfer-col">
                <label>
                    <span>Amount</span>
                    <input name = "amount" type="number" required min="0.0" step="0.01">
                </label>
                <label>
                    <span>Date</span>
                    <input id = "date-input" name="date" type="date" required>
                </label>

                <button class = "signin btn" type = "submit">Next</button>

            </form>
            
        
        </div>
        </div>
    </section>

    <section id = "centered">
        <div class = "stack" style ="text-align: center;">
            <a class="signin btn" href="/payments">All Payments</a>
        </div>
    </section>

    <script>
        document.addEventListener("DOMContentLoaded", () => {
            const curDate = new Date();
            const year= curDate.getFullYear();
            const month = String(curDate.getMonth()+1).padStart(2,"0");
            const day =String(curDate.getDate()).padStart(2,"0");
            const todayDate = `${year}-${month}-${day}`;
            document.getElementById("date-input").min = todayDate
        })
    </script>
    </body>
</html>
